﻿<div class="span12">
    <h2>Requisition (List)</h2>

<div class="span12">

    <div class="tabledata" style="height: 500px; overflow: auto;">
    <table class="unprocessed-table table table-striped table-hover  table-bordered ">
        <thead>
            <tr>
                <th>Requisition</th>
                <th>Batchid</th>
                <th>Supplier</th>
                <th>Make Model</th>
                <th>Veh. Type</th>
                <th>Order Date</th>
                <th title="Ordered / Delivered">Status</th>
            </tr>
        </thead>
        <tbody">
                <tr>
                    <td>10175</td>
                    <td>16779</td>
                    <td>BMW Financial Services A/S</td>
                   
                    <td>Mini One 75HK</td>
                    <td>Hatchback</td>
                    <td>13.08.2013</td>
                    <td  title="Ordered / Delivered">20 / 4</td>
                </tr>
                <tr>
                    <td>10171</td>
                    <td>16775</td>
                    <td>BMW Financial Services A/S</td>
                   
                    <td>BMW 520D Sedan Aut.                </td>
                    <td>Sedan</td>
                    <td>04.07.2013</td>
                    <td  title="Ordered / Delivered">15 / 0</td>
                </tr>
                <tr>
                    <td>10157</td>
                    <td>16761</td>
                    <td>Nellemann Randers A/S</td>
                   
                    <td>Ford Transit Turneo 2,2TDCI        </td>
                    <td>Bus</td>
                    <td>27.06.2013</td>
                    <td  title="Ordered / Delivered">3 / 0</td>
                </tr>
                <tr>
                    <td>10158</td>
                    <td>16762</td>
                    <td>Nellemann</td>
                   
                    <td>Ford Transit Turneo 2,2TDCI        </td>
                    <td>Bus</td>
                    <td>27.06.2013</td>
                    <td  title="Ordered / Delivered">0 / 0</td>
                </tr>
                <tr>
                    <td>10153</td>
                    <td>16757</td>
                    <td>Henrik Larsen Auto</td>
                   
                    <td>Honda Civic 1,8 Sport 5dr          </td>
                    <td>Hatchback</td>
                    <td>26.06.2013</td>
                    <td  title="Ordered / Delivered">20 / 0</td>
                </tr>
                <tr>
                    <td>10037</td>
                    <td>16640</td>
                    <td>Leasing dk.</td>
                   
                    <td>Ford C-Max 1,6TDCI Titanium 115hk</td>
                    <td>MPV</td>
                    <td>08.05.2013</td>
                    <td  title="Ordered / Delivered">5 / 4</td>
                </tr>
                <tr>
                    <td>10038</td>
                    <td>16641</td>
                    <td>Leasing dk.</td>
                   
                    <td>Ford Mondeo 2,0TDCI Aut Stw Trend  </td>
                    <td>Stationcar</td>
                    <td>08.05.2013</td>
                    <td  title="Ordered / Delivered">5 / 4</td>
                </tr>
                <tr>
                    <td>10044</td>
                    <td>16647</td>
                    <td>Leasing dk.</td>
                   
                    <td>Ford Focus 1,6TDCI Trend Stw       </td>
                    <td>Stationcar</td>
                    <td>08.05.2013</td>
                    <td  title="Ordered / Delivered">12 / 11</td>
                </tr>
                <tr>
                    <td>10001</td>
                    <td>16598</td>
                    <td>F J Automobiler</td>
                   
                    <td>Audi A3 1,4TFSI AMBITION           </td>
                    <td>Hatchback</td>
                    <td>19.04.2013</td>
                    <td  title="Ordered / Delivered">0 / 0</td>
                </tr>
                <tr>
                    <td>3000425</td>
                    <td>15256</td>
                    <td>Bayern AutoGroup Aarhus</td>
                   
                    <td>BMW 320d Efficient Dyn.Sedan       </td>
                    <td>Sedan</td>
                    <td>25.02.2013</td>
                    <td  title="Ordered / Delivered">1 / 0</td>
                </tr>
                <tr>
                    <td>3000410</td>
                    <td>16295</td>
                    <td>Ejner Hessel A/S</td>
                   
                    <td>Renault Fluence ZE Primetime       </td>
                    <td>Hatchback</td>
                    <td>03.01.2013</td>
                    <td  title="Ordered / Delivered">18 / 0</td>
                </tr>
                <tr>
                    <td>3000411</td>
                    <td>15644</td>
                    <td>Ejner Hessel A/S</td>
                   
                    <td>Renault Kangoo ZE                  </td>
                    <td>Hatchback</td>
                    <td>03.01.2013</td>
                    <td  title="Ordered / Delivered">2 / 0</td>
                </tr>
                <tr>
                    <td>3000409</td>
                    <td>16445</td>
                    <td>Vulcan Silkeborg A/S</td>
                   
                    <td>VW Golf Plus 1,6TDI                </td>
                    <td>Hatchback</td>
                    <td>19.11.2012</td>
                    <td  title="Ordered / Delivered">5 / 4</td>
                </tr>
                <tr>
                    <td>3000385</td>
                    <td>15011</td>
                    <td>Henrik Larsen Auto</td>
                   
                    <td>Citroen C4 1,6HDI E6G 110          </td>
                    <td>Hatchback</td>
                    <td>01.10.2012</td>
                    <td  title="Ordered / Delivered">10 / 8</td>
                </tr>
                <tr>
                    <td>3000346</td>
                    <td>14899</td>
                    <td>AutoLease v/DnB Bank ASA</td>
                   
                    <td>Nissan Primastar 2,0DCI            </td>
                    <td>Van</td>
                    <td>15.06.2012</td>
                    <td  title="Ordered / Delivered">1 / 0</td>
                </tr>
                <tr>
                    <td>3000254</td>
                    <td>15623</td>
                    <td>Ejner Hessel A/S</td>
                   
                    <td>Renault Gr.Scenic 1,5dCI 7p.       </td>
                    <td>MPV</td>
                    <td>15.04.2012</td>
                    <td  title="Ordered / Delivered">20 / 19</td>
                </tr>
                <tr>
                    <td>3000297</td>
                    <td>16088</td>
                    <td>Leasing dk.</td>
                   
                    <td>Ford Fiesta 1,25 Tr.(60HK)         </td>
                    <td>Hatchback</td>
                    <td>10.04.2012</td>
                    <td  title="Ordered / Delivered">6 / 5</td>
                </tr>
                <tr>
                    <td>3000300</td>
                    <td>16322</td>
                    <td>Leasing dk.</td>
                   
                    <td>Ford Fiesta 1,6TDCI Econetic       </td>
                    <td>Hatchback</td>
                    <td>10.04.2012</td>
                    <td  title="Ordered / Delivered">6 / 5</td>
                </tr>
                <tr>
                    <td>3000301</td>
                    <td>15642</td>
                    <td>Leasing dk.</td>
                   
                    <td>Ford Fiesta 1,6TDCI Titan.         </td>
                    <td>Hatchback</td>
                    <td>10.04.2012</td>
                    <td  title="Ordered / Delivered">4 / 2</td>
                </tr>
                <tr>
                    <td>3000255</td>
                    <td>16044</td>
                    <td>Ejner Hessel A/S</td>
                   
                    <td>Renault Laguna 1,5dCI Exception    </td>
                    <td>Stationcar</td>
                    <td>12.03.2012</td>
                    <td  title="Ordered / Delivered">5 / 0</td>
                </tr>
                <tr>
                    <td>3000237</td>
                    <td>16140</td>
                    <td>Andersen &amp; Martini A/S</td>
                   
                    <td>Opel Astra 1,4T Enjoy              </td>
                    <td>Hatchback</td>
                    <td>12.03.2012</td>
                    <td  title="Ordered / Delivered">6 / 5</td>
                </tr>
                <tr>
                    <td>3000244</td>
                    <td>15283</td>
                    <td>Andersen &amp; Martini A/S</td>
                   
                    <td>Opel Insignia ST 2,0D 130HK        </td>
                    <td>Stationcar</td>
                    <td>12.03.2012</td>
                    <td  title="Ordered / Delivered">8 / 0</td>
                </tr>
                <tr>
                    <td>3000248</td>
                    <td>15563</td>
                    <td>Henrik Larsen Auto</td>
                   
                    <td>Citroen C4 1,6HDI 5dr              </td>
                    <td>Hatchback</td>
                    <td>12.03.2012</td>
                    <td  title="Ordered / Delivered">10 / 9</td>
                </tr>
                <tr>
                    <td>3000249</td>
                    <td>15533</td>
                    <td>Henrik Larsen Auto</td>
                   
                    <td>Citroen Grand C4 Pica.1,6HDI       </td>
                    <td>MPV</td>
                    <td>12.03.2012</td>
                    <td  title="Ordered / Delivered">3 / 2</td>
                </tr>
                <tr>
                    <td>3000276</td>
                    <td>15677</td>
                    <td>Helle Auto A/S</td>
                   
                    <td>Peugeot 308 1,6HDI Access Stw      </td>
                    <td>Stationcar</td>
                    <td>06.03.2012</td>
                    <td  title="Ordered / Delivered">10 / 9</td>
                </tr>
                <tr>
                    <td>3000260</td>
                    <td>16314</td>
                    <td>Terminalen</td>
                   
                    <td>Honda Civic 1,8 Sport 5dr          </td>
                    <td>Hatchback</td>
                    <td>05.03.2012</td>
                    <td  title="Ordered / Delivered">20 / 10</td>
                </tr>
                <tr>
                    <td>3000261</td>
                    <td>15704</td>
                    <td>Terminalen</td>
                   
                    <td>Honda Civic 1,8 Sport Aut.         </td>
                    <td>Hatchback</td>
                    <td>05.03.2012</td>
                    <td  title="Ordered / Delivered">20 / 10</td>
                </tr>
                <tr>
                    <td>3000174</td>
                    <td>15310</td>
                    <td>Bendtsen Biludlejning A/S</td>
                   
                    <td>Renault Gr.Scenic 1,5dCI 7p.       </td>
                    <td>MPV</td>
                    <td>14.07.2011</td>
                    <td  title="Ordered / Delivered">2 / 0</td>
                </tr>
                <tr>
                    <td>3000174</td>
                    <td>15963</td>
                    <td>Bendtsen Biludlejning A/S</td>
                   
                    <td>Renault Gr.Scenic 1,5dCI 7p.       </td>
                    <td>MPV</td>
                    <td>14.07.2011</td>
                    <td  title="Ordered / Delivered">8 / 7</td>
                </tr>
                <tr>
                    <td>3000175</td>
                    <td>16357</td>
                    <td>Bendtsen Biludlejning A/S</td>
                   
                    <td>Renault Scenic 1,5dCi              </td>
                    <td>MPV</td>
                    <td>14.07.2011</td>
                    <td  title="Ordered / Delivered">2 / 0</td>
                </tr>
                <tr>
                    <td>2522939</td>
                    <td>16423</td>
                    <td>Terminalen</td>
                   
                    <td>Hyundai I30 1,6CRDI CW Comfort     </td>
                    <td>Stationcar</td>
                    <td>01.10.2010</td>
                    <td  title="Ordered / Delivered">10 / 0</td>
                </tr>
                <tr>
                    <td>2522940</td>
                    <td>15512</td>
                    <td>Terminalen</td>
                   
                    <td>Hyundai I30 1,6 CRDI Comfort       </td>
                    <td>MPV</td>
                    <td>01.10.2010</td>
                    <td  title="Ordered / Delivered">5 / 0</td>
                </tr>
                <tr>
                    <td>2522944</td>
                    <td>15361</td>
                    <td>Jan Nygaard A/S</td>
                   
                    <td>BMW 116d Advantage                 </td>
                    <td>Hatchback</td>
                    <td>01.10.2010</td>
                    <td  title="Ordered / Delivered">18 / 16</td>
                </tr>
                <tr>
                    <td>2522646</td>
                    <td>15895</td>
                    <td>Andersen &amp; Martini A/S</td>
                   
                    <td>Opel Insignia 1,8 Edit. 5dr        </td>
                    <td>Hatchback</td>
                    <td>01.05.2010</td>
                    <td  title="Ordered / Delivered">7 / 6</td>
                </tr>
                <tr>
                    <td>2522654</td>
                    <td>16484</td>
                    <td>SMC-Biler Holb&#230;k A/S</td>
                   
                    <td>VW Passat 1,6TDI BM ComfL.Variant  </td>
                    <td>Stationcar</td>
                    <td>01.05.2010</td>
                    <td  title="Ordered / Delivered">13 / 9</td>
                </tr>
                <tr>
                    <td>2522656</td>
                    <td>16579</td>
                    <td>SMC-Biler Holb&#230;k A/S</td>
                   
                    <td>VW Passat 1,6TDI BM ComfL.Variant  </td>
                    <td>Stationcar</td>
                    <td>01.05.2010</td>
                    <td  title="Ordered / Delivered">9 / 7</td>
                </tr>
                <tr>
                    <td>2522624</td>
                    <td>14892</td>
                    <td>Leasing dk.</td>
                   
                    <td>Ford Focus 1,6TDCI Eco Stw.        </td>
                    <td>Stationcar</td>
                    <td>15.04.2010</td>
                    <td  title="Ordered / Delivered">15 / 14</td>
                </tr>
                <tr>
                    <td>2522615</td>
                    <td>16407</td>
                    <td>Andersen &amp; Martini A/S</td>
                   
                    <td>Opel Insignia 2,0CDTI Edit.(130hk) </td>
                    <td>Stationcar</td>
                    <td>15.04.2010</td>
                    <td  title="Ordered / Delivered">9 / 8</td>
                </tr>
                <tr>
                    <td>2522615</td>
                    <td>14896</td>
                    <td>Andersen &amp; Martini A/S</td>
                   
                    <td>Opel Insignia 2,0CDTI Edit.(130hk) </td>
                    <td>Stationcar</td>
                    <td>15.04.2010</td>
                    <td  title="Ordered / Delivered">7 / 6</td>
                </tr>
                <tr>
                    <td>2522616</td>
                    <td>15522</td>
                    <td>Andersen &amp; Martini A/S</td>
                   
                    <td>Opel Insignia 1,8 Wag. Edit.       </td>
                    <td>Stationcar</td>
                    <td>15.04.2010</td>
                    <td  title="Ordered / Delivered">9 / 7</td>
                </tr>
                <tr>
                    <td>2522630</td>
                    <td>15211</td>
                    <td>Scaniadam/Bilia</td>
                   
                    <td>Ford Fiesta 1,6TDCI Econetic       </td>
                    <td>Hatchback</td>
                    <td>15.04.2010</td>
                    <td  title="Ordered / Delivered">37 / 34</td>
                </tr>
                <tr>
                    <td>2522630</td>
                    <td>15645</td>
                    <td>Scaniadam/Bilia</td>
                   
                    <td>Ford Fiesta 1,6TDCI Econetic       </td>
                    <td>Hatchback</td>
                    <td>15.04.2010</td>
                    <td  title="Ordered / Delivered">33 / 27</td>
                </tr>
                <tr>
                    <td>2522636</td>
                    <td>16346</td>
                    <td>Scaniadam/Bilia</td>
                   
                    <td>Ford S-Max 2,0TDCI Trend Aut.      </td>
                    <td>MPV</td>
                    <td>01.04.2010</td>
                    <td  title="Ordered / Delivered">7 / 6</td>
                </tr>
                <tr>
                    <td>2522636</td>
                    <td>15127</td>
                    <td>Scaniadam/Bilia</td>
                   
                    <td>Ford S-Max 2,0TDCI Trend Aut.      </td>
                    <td>MPV</td>
                    <td>01.04.2010</td>
                    <td  title="Ordered / Delivered">15 / 13</td>
                </tr>
                <tr>
                    <td>2522637</td>
                    <td>16079</td>
                    <td>Scaniadam/Bilia</td>
                   
                    <td>Ford Galaxy 2,0TDCI Aut.Trend      </td>
                    <td>MPV</td>
                    <td>01.04.2010</td>
                    <td  title="Ordered / Delivered">11 / 9</td>
                </tr>
                <tr>
                    <td>2522644</td>
                    <td>15149</td>
                    <td>Andersen &amp; Martini A/S</td>
                   
                    <td>Opel Corsa 1,3CDTI Enjoy 5dr       </td>
                    <td>Hatchback</td>
                    <td>01.04.2010</td>
                    <td  title="Ordered / Delivered">28 / 19</td>
                </tr>
                <tr>
                    <td>2522644</td>
                    <td>15305</td>
                    <td>Andersen &amp; Martini A/S</td>
                   
                    <td>Opel Corsa 1,3CDTI Enjoy 5dr       </td>
                    <td>Hatchback</td>
                    <td>01.04.2010</td>
                    <td  title="Ordered / Delivered">12 / 11</td>
                </tr>
                <tr>
                    <td>2522580</td>
                    <td>15560</td>
                    <td>SMC-Biler &#197;rhus A/S</td>
                   
                    <td>VW Polo 1,2 Trendline 5dr          </td>
                    <td>Hatchback</td>
                    <td>01.04.2010</td>
                    <td  title="Ordered / Delivered">15 / 10</td>
                </tr>
                <tr>
                    <td>2522620</td>
                    <td>16108</td>
                    <td>Scaniadam/Bilia</td>
                   
                    <td>Ford C-Max 1,6TDCI Tr.109HK DPF    </td>
                    <td>Hatchback</td>
                    <td>15.03.2010</td>
                    <td  title="Ordered / Delivered">23 / 22</td>
                </tr>
                <tr>
                    <td>2522625</td>
                    <td>15352</td>
                    <td>Ford Herning</td>
                   
                    <td>Ford C-Max 1,6TDCI Tr.109HK DPF    </td>
                    <td>Hatchback</td>
                    <td>01.03.2010</td>
                    <td  title="Ordered / Delivered">16 / 15</td>
                </tr>
                <tr>
                    <td>2522655</td>
                    <td>15779</td>
                    <td>SMC-Biler Holb&#230;k A/S</td>
                   
                    <td>VW Touran 1,9TDI Freestyle BM      </td>
                    <td>MPV</td>
                    <td>01.03.2010</td>
                    <td  title="Ordered / Delivered">7 / 6</td>
                </tr>
                <tr>
                    <td>2522653</td>
                    <td>15262</td>
                    <td>Vulcan Silkeborg A/S</td>
                   
                    <td>VW Touran 1,9TDI Freestyle BM      </td>
                    <td>MPV</td>
                    <td>01.03.2010</td>
                    <td  title="Ordered / Delivered">7 / 6</td>
                </tr>
                <tr>
                    <td>2522653</td>
                    <td>15105</td>
                    <td>Vulcan Silkeborg A/S</td>
                   
                    <td>VW Touran 1,9TDI Freestyle BM      </td>
                    <td>MPV</td>
                    <td>01.03.2010</td>
                    <td  title="Ordered / Delivered">20 / 15</td>
                </tr>
                <tr>
                    <td>2522641</td>
                    <td>15941</td>
                    <td>Ford Herning</td>
                   
                    <td>Ford C-Max 1,6TDCI Tr.109HK DPF    </td>
                    <td>Hatchback</td>
                    <td>01.03.2010</td>
                    <td  title="Ordered / Delivered">7 / 6</td>
                </tr>
                <tr>
                    <td>2522617</td>
                    <td>16345</td>
                    <td>Leasing dk.</td>
                   
                    <td>Ford Mondeo 2,0TDCI Aut Stw Trend  </td>
                    <td>Stationcar</td>
                    <td>01.03.2010</td>
                    <td  title="Ordered / Delivered">2 / 1</td>
                </tr>
                <tr>
                    <td>2522582</td>
                    <td>16402</td>
                    <td>SMC-Biler Holb&#230;k A/S</td>
                   
                    <td>VW Polo 1,4 ComfLine.              </td>
                    <td>Hatchback</td>
                    <td>01.03.2010</td>
                    <td  title="Ordered / Delivered">13 / 9</td>
                </tr>
                <tr>
                    <td>2522578</td>
                    <td>16279</td>
                    <td>Jensen og N&#248;rgaard</td>
                   
                    <td>Fiat Gr.Punto 1,2 Act AC 5dr       </td>
                    <td>Hatchback</td>
                    <td>01.03.2010</td>
                    <td  title="Ordered / Delivered">10 / 9</td>
                </tr>
                <tr>
                    <td>2522578</td>
                    <td>14857</td>
                    <td>Jensen og N&#248;rgaard</td>
                   
                    <td>Fiat Gr.Punto 1,2 Act AC 5dr       </td>
                    <td>Hatchback</td>
                    <td>01.03.2010</td>
                    <td  title="Ordered / Delivered">22 / 15</td>
                </tr>
                <tr>
                    <td>2522578</td>
                    <td>15199</td>
                    <td>Jensen og N&#248;rgaard</td>
                   
                    <td>Fiat Gr.Punto 1,2 Act AC 5dr       </td>
                    <td>Hatchback</td>
                    <td>01.03.2010</td>
                    <td  title="Ordered / Delivered">16 / 12</td>
                </tr>
                <tr>
                    <td>2522584</td>
                    <td>15369</td>
                    <td>SMC-Biler Holb&#230;k A/S</td>
                   
                    <td>VW Golf 1,4TSI Comf.Line           </td>
                    <td>Hatchback</td>
                    <td>01.03.2010</td>
                    <td  title="Ordered / Delivered">9 / 7</td>
                </tr>
                <tr>
                    <td>2522584</td>
                    <td>16272</td>
                    <td>SMC-Biler Holb&#230;k A/S</td>
                   
                    <td>VW Golf 1,4TSI Comf.Line           </td>
                    <td>Hatchback</td>
                    <td>01.03.2010</td>
                    <td  title="Ordered / Delivered">9 / 7</td>
                </tr>
                <tr>
                    <td>2522574</td>
                    <td>15042</td>
                    <td>Bilernes Hus A/S</td>
                   
                    <td>Fiat 500 C 1,2 Lounge              </td>
                    <td>Cabriolet</td>
                    <td>01.03.2010</td>
                    <td  title="Ordered / Delivered">22 / 17</td>
                </tr>
                <tr>
                    <td>2522574</td>
                    <td>15187</td>
                    <td>Bilernes Hus A/S</td>
                   
                    <td>Fiat 500 C 1,2 Lounge              </td>
                    <td>Cabriolet</td>
                    <td>01.03.2010</td>
                    <td  title="Ordered / Delivered">3 / 2</td>
                </tr>
                <tr>
                    <td>2522575</td>
                    <td>14986</td>
                    <td>Bilernes Hus A/S</td>
                   
                    <td>Fiat Punto Evo 1,4 Active          </td>
                    <td>MPV</td>
                    <td>01.02.2010</td>
                    <td  title="Ordered / Delivered">29 / 21</td>
                </tr>
                <tr>
                    <td>2522575</td>
                    <td>15647</td>
                    <td>Bilernes Hus A/S</td>
                   
                    <td>Fiat Punto Evo 1,4 Active          </td>
                    <td>MPV</td>
                    <td>01.02.2010</td>
                    <td  title="Ordered / Delivered">21 / 17</td>
                </tr>
                <tr>
                    <td>2522576</td>
                    <td>15720</td>
                    <td>Bilernes Hus A/S</td>
                   
                    <td>Fiat Panda 1,2 Dyn.                </td>
                    <td>Hatchback</td>
                    <td>01.02.2010</td>
                    <td  title="Ordered / Delivered">44 / 32</td>
                </tr>
                <tr>
                    <td>2522577</td>
                    <td>16285</td>
                    <td>Bilernes Hus A/S</td>
                   
                    <td>Fiat 500 1,2 Lounge                </td>
                    <td>Hatchback</td>
                    <td>01.02.2010</td>
                    <td  title="Ordered / Delivered">35 / 25</td>
                </tr>
                <tr>
                    <td>2522577</td>
                    <td>16077</td>
                    <td>Bilernes Hus A/S</td>
                   
                    <td>Fiat 500 1,2 Lounge                </td>
                    <td>Hatchback</td>
                    <td>01.02.2010</td>
                    <td  title="Ordered / Delivered">18 / 14</td>
                </tr>
                <tr>
                    <td>2522585</td>
                    <td>16293</td>
                    <td>SMC-Biler Holb&#230;k A/S</td>
                   
                    <td>VW Golf 1,6TDI Trendl.BM           </td>
                    <td>Hatchback</td>
                    <td>01.02.2010</td>
                    <td  title="Ordered / Delivered">7 / 6</td>
                </tr>
                <tr>
                    <td>2522585</td>
                    <td>15937</td>
                    <td>SMC-Biler Holb&#230;k A/S</td>
                   
                    <td>VW Golf 1,6TDI Trendl.BM           </td>
                    <td>Hatchback</td>
                    <td>01.02.2010</td>
                    <td  title="Ordered / Delivered">7 / 6</td>
                </tr>
                <tr>
                    <td>2522585</td>
                    <td>15395</td>
                    <td>SMC-Biler Holb&#230;k A/S</td>
                   
                    <td>VW Golf 1,6TDI Trendl.BM           </td>
                    <td>Hatchback</td>
                    <td>01.02.2010</td>
                    <td  title="Ordered / Delivered">7 / 6</td>
                </tr>
                <tr>
                    <td>2522585</td>
                    <td>15661</td>
                    <td>SMC-Biler Holb&#230;k A/S</td>
                   
                    <td>VW Golf 1,6TDI Trendl.BM           </td>
                    <td>Hatchback</td>
                    <td>01.02.2010</td>
                    <td  title="Ordered / Delivered">7 / 6</td>
                </tr>
                <tr>
                    <td>2522587</td>
                    <td>15120</td>
                    <td>Autohuset H&#248;rsholm (VAG)</td>
                   
                    <td>VW Golf 1,4TSI Comf.Line           </td>
                    <td>Hatchback</td>
                    <td>01.02.2010</td>
                    <td  title="Ordered / Delivered">11 / 8</td>
                </tr>
                <tr>
                    <td>2522587</td>
                    <td>15624</td>
                    <td>Autohuset H&#248;rsholm (VAG)</td>
                   
                    <td>VW Golf 1,4TSI Comf.Line           </td>
                    <td>Hatchback</td>
                    <td>01.02.2010</td>
                    <td  title="Ordered / Delivered">7 / 6</td>
                </tr>
                <tr>
                    <td>2522587</td>
                    <td>16259</td>
                    <td>Autohuset H&#248;rsholm (VAG)</td>
                   
                    <td>VW Golf 1,4TSI Comf.Line           </td>
                    <td>Hatchback</td>
                    <td>01.02.2010</td>
                    <td  title="Ordered / Delivered">14 / 12</td>
                </tr>
                <tr>
                    <td>2522583</td>
                    <td>16438</td>
                    <td>SMC-Biler Holb&#230;k A/S</td>
                   
                    <td>VW Polo 1,6TDI Comf.Line           </td>
                    <td>Hatchback</td>
                    <td>01.02.2010</td>
                    <td  title="Ordered / Delivered">7 / 6</td>
                </tr>
                <tr>
                    <td>2522583</td>
                    <td>15735</td>
                    <td>SMC-Biler Holb&#230;k A/S</td>
                   
                    <td>VW Polo 1,6TDI Comf.Line           </td>
                    <td>Hatchback</td>
                    <td>01.02.2010</td>
                    <td  title="Ordered / Delivered">7 / 6</td>
                </tr>
                <tr>
                    <td>2522594</td>
                    <td>15519</td>
                    <td>Michael Schr&#248;ter Aps.</td>
                   
                    <td>VW Polo 1,6TDI Comf.Line           </td>
                    <td>Hatchback</td>
                    <td>01.02.2010</td>
                    <td  title="Ordered / Delivered">7 / 6</td>
                </tr>
                <tr>
                    <td>2522594</td>
                    <td>15467</td>
                    <td>Michael Schr&#248;ter Aps.</td>
                   
                    <td>VW Polo 1,6TDI Comf.Line           </td>
                    <td>Hatchback</td>
                    <td>01.02.2010</td>
                    <td  title="Ordered / Delivered">9 / 7</td>
                </tr>
                <tr>
                    <td>2522604</td>
                    <td>15164</td>
                    <td>SMC-Biler Holb&#230;k A/S</td>
                   
                    <td>A4 2,0TDI Limo                     </td>
                    <td>Sedan</td>
                    <td>01.02.2010</td>
                    <td  title="Ordered / Delivered">9 / 8</td>
                </tr>
                <tr>
                    <td>2522604</td>
                    <td>16262</td>
                    <td>SMC-Biler Holb&#230;k A/S</td>
                   
                    <td>A4 2,0TDI Limo                     </td>
                    <td>Sedan</td>
                    <td>01.02.2010</td>
                    <td  title="Ordered / Delivered">9 / 8</td>
                </tr>
                <tr>
                    <td>2522633</td>
                    <td>15436</td>
                    <td>Ford Herning</td>
                   
                    <td>Ford Mondeo 2,0TDCI Trend Stw      </td>
                    <td>Stationcar</td>
                    <td>01.02.2010</td>
                    <td  title="Ordered / Delivered">33 / 30</td>
                </tr>
                <tr>
                    <td>2522633</td>
                    <td>16473</td>
                    <td>Ford Herning</td>
                   
                    <td>Ford Mondeo 2,0TDCI Trend Stw      </td>
                    <td>Stationcar</td>
                    <td>01.02.2010</td>
                    <td  title="Ordered / Delivered">11 / 8</td>
                </tr>
                <tr>
                    <td>2522568</td>
                    <td>16406</td>
                    <td>Andersen &amp; Martini A/S</td>
                   
                    <td>Opel Astra 1,7CDTI Enjoy 5dr       </td>
                    <td>Hatchback</td>
                    <td>01.01.2010</td>
                    <td  title="Ordered / Delivered">9 / 6</td>
                </tr>
                <tr>
                    <td>2522569</td>
                    <td>15376</td>
                    <td>Andersen &amp; Martini A/S</td>
                   
                    <td>Opel Astra 1,6 Enjoy 5dr           </td>
                    <td>Hatchback</td>
                    <td>01.01.2010</td>
                    <td  title="Ordered / Delivered">4 / 3</td>
                </tr>
                <tr>
                    <td>2522589</td>
                    <td>15209</td>
                    <td>Vulcan Silkeborg A/S</td>
                   
                    <td>VW Golf 1,6TDI Trendl.BM           </td>
                    <td>Hatchback</td>
                    <td>01.01.2010</td>
                    <td  title="Ordered / Delivered">25 / 20</td>
                </tr>
                <tr>
                    <td>2522589</td>
                    <td>14952</td>
                    <td>Vulcan Silkeborg A/S</td>
                   
                    <td>VW Golf 1,6TDI Trendl.BM           </td>
                    <td>Hatchback</td>
                    <td>01.01.2010</td>
                    <td  title="Ordered / Delivered">31 / 22</td>
                </tr>
                <tr>
                    <td>2522586</td>
                    <td>15286</td>
                    <td>Autohuset H&#248;rsholm (VAG)</td>
                   
                    <td>VW Golf 1,2TSI Trendl.BMT          </td>
                    <td>Hatchback</td>
                    <td>01.01.2010</td>
                    <td  title="Ordered / Delivered">15 / 10</td>
                </tr>
                <tr>
                    <td>2522921</td>
                    <td>16225</td>
                    <td>Ford Herning</td>
                   
                    <td>Ford Mondeo 2,0 Trend Collection   </td>
                    <td>Stationcar</td>
                    <td>15.12.2009</td>
                    <td  title="Ordered / Delivered">11 / 10</td>
                </tr>
                <tr>
                    <td>2522908</td>
                    <td>14880</td>
                    <td>Ford Herning</td>
                   
                    <td>Ford Transit 300M Bus              </td>
                    <td>Bus</td>
                    <td>01.12.2009</td>
                    <td  title="Ordered / Delivered">7 / 5</td>
                </tr>
                <tr>
                    <td>2522528</td>
                    <td>14852</td>
                    <td>Kia Motors A/S</td>
                   
                    <td>Kia Cee&#39;d 1,6CRDi SW Active        </td>
                    <td>Stationcar</td>
                    <td>01.12.2009</td>
                    <td  title="Ordered / Delivered">34 / 27</td>
                </tr>
                <tr>
                    <td>2522528</td>
                    <td>16268</td>
                    <td>Kia Motors A/S</td>
                   
                    <td>Kia Cee&#39;d 1,6CRDi SW Active        </td>
                    <td>Stationcar</td>
                    <td>01.12.2009</td>
                    <td  title="Ordered / Delivered">32 / 26</td>
                </tr>
                <tr>
                    <td>2522535</td>
                    <td>15509</td>
                    <td>Thisted Motorkompagni</td>
                   
                    <td>Suzuki Splash 1,3DDIS DPF          </td>
                    <td>Hatchback</td>
                    <td>25.10.2009</td>
                    <td  title="Ordered / Delivered">14 / 10</td>
                </tr>
                <tr>
                    <td>2522538</td>
                    <td>16556</td>
                    <td>Thisted Motorkompagni</td>
                   
                    <td>Suzuki Swift 1,3 GLX               </td>
                    <td>Hatchback</td>
                    <td>25.10.2009</td>
                    <td  title="Ordered / Delivered">3 / 2</td>
                </tr>
                <tr>
                    <td>2522505</td>
                    <td>16283</td>
                    <td>Scaniadam/Bilia</td>
                   
                    <td>Ford Fiesta 1,6TDCI Eco.A/C Trend  </td>
                    <td>Hatchback</td>
                    <td>01.10.2009</td>
                    <td  title="Ordered / Delivered">18 / 14</td>
                </tr>
                <tr>
                    <td>2522507</td>
                    <td>16223</td>
                    <td>Scaniadam/Bilia</td>
                   
                    <td>Ford Focus 1,6 Tr.Stw Coll.        </td>
                    <td>Stationcar</td>
                    <td>01.10.2009</td>
                    <td  title="Ordered / Delivered">12 / 11</td>
                </tr>
                <tr>
                    <td>2522512</td>
                    <td>15098</td>
                    <td>Toyota.Kolding</td>
                   
                    <td>Toyota Avensis 1,6 4 dr.T1         </td>
                    <td>Sedan</td>
                    <td>01.10.2009</td>
                    <td  title="Ordered / Delivered">17 / 16</td>
                </tr>
                <tr>
                    <td>2522516</td>
                    <td>14974</td>
                    <td>Ford Herning</td>
                   
                    <td>Ford Mondeo 2,0TDCI Econetic Stw.  </td>
                    <td>Stationcar</td>
                    <td>01.10.2009</td>
                    <td  title="Ordered / Delivered">25 / 20</td>
                </tr>
                <tr>
                    <td>0</td>
                    <td>15248</td>
                    <td>Bendtsen Biler A/S</td>
                   
                    <td>Renault Gr.Scenic II 1,9DCI Expr.  </td>
                    <td>MPV</td>
                    <td>01.10.2009</td>
                    <td  title="Ordered / Delivered">18 / 2</td>
                </tr>
                <tr>
                    <td>0</td>
                    <td>15637</td>
                    <td>Bendtsen Biler A/S</td>
                   
                    <td>Renault Gr.Scenic II 1,9DCI Expr.  </td>
                    <td>MPV</td>
                    <td>01.10.2009</td>
                    <td  title="Ordered / Delivered">1 / 0</td>
                </tr>
                <tr>
                    <td>2522911</td>
                    <td>16127</td>
                    <td>Ford Herning</td>
                   
                    <td>Ford C-Max 1,6TDCI Tr.109HK DPF    </td>
                    <td>Hatchback</td>
                    <td>01.10.2009</td>
                    <td  title="Ordered / Delivered">10 / 9</td>
                </tr>
                <tr>
                    <td>2522905</td>
                    <td>15065</td>
                    <td>Ford Herning</td>
                   
                    <td>Ford Fiesta 1,6TDCI Eco.A/C Trend  </td>
                    <td>Hatchback</td>
                    <td>01.10.2009</td>
                    <td  title="Ordered / Delivered">20 / 16</td>
                </tr>
                <tr>
                    <td>2522905</td>
                    <td>16041</td>
                    <td>Ford Herning</td>
                   
                    <td>Ford Fiesta 1,6TDCI Eco.A/C Trend  </td>
                    <td>Hatchback</td>
                    <td>01.10.2009</td>
                    <td  title="Ordered / Delivered">18 / 15</td>
                </tr>
                <tr>
                    <td>2522905</td>
                    <td>16085</td>
                    <td>Ford Herning</td>
                   
                    <td>Ford Fiesta 1,6TDCI Eco.A/C Trend  </td>
                    <td>Hatchback</td>
                    <td>01.10.2009</td>
                    <td  title="Ordered / Delivered">21 / 20</td>
                </tr>
                <tr>
                    <td>2522499</td>
                    <td>16065</td>
                    <td>Globus Biler A/S</td>
                   
                    <td>Mitsubishi Colt 1,3 ClearTec       </td>
                    <td>Hatchback</td>
                    <td>30.09.2009</td>
                    <td  title="Ordered / Delivered">22 / 19</td>
                </tr>
                <tr>
                    <td>2522499</td>
                    <td>16002</td>
                    <td>Globus Biler A/S</td>
                   
                    <td>Mitsubishi Colt 1,3 ClearTec       </td>
                    <td>Hatchback</td>
                    <td>30.09.2009</td>
                    <td  title="Ordered / Delivered">24 / 20</td>
                </tr>
                <tr>
                    <td>2522472</td>
                    <td>14941</td>
                    <td>SMC-Biler Holb&#230;k A/S</td>
                   
                    <td>A4 1,8TFSI (160HK)                 </td>
                    <td>Sedan</td>
                    <td>01.09.2009</td>
                    <td  title="Ordered / Delivered">2 / 0</td>
                </tr>
                <tr>
                    <td>2522473</td>
                    <td>16018</td>
                    <td>SMC-Biler Holb&#230;k A/S</td>
                   
                    <td>A4 2,0TDI Limo                     </td>
                    <td>Sedan</td>
                    <td>01.09.2009</td>
                    <td  title="Ordered / Delivered">2 / 0</td>
                </tr>
                <tr>
                    <td>2522476</td>
                    <td>15876</td>
                    <td>Ford Herning</td>
                   
                    <td>Ford Mondeo 2,0TDCI Aut.5dr.Titan. </td>
                    <td>Hatchback</td>
                    <td>01.09.2009</td>
                    <td  title="Ordered / Delivered">8 / 6</td>
                </tr>
                <tr>
                    <td>2522488</td>
                    <td>15746</td>
                    <td>Terminalen</td>
                   
                    <td>Hyundai I30 1,6 CRDI Comfort       </td>
                    <td>MPV</td>
                    <td>01.09.2009</td>
                    <td  title="Ordered / Delivered">39 / 27</td>
                </tr>
                <tr>
                    <td>2522488</td>
                    <td>15727</td>
                    <td>Terminalen</td>
                   
                    <td>Hyundai I30 1,6 CRDI Comfort       </td>
                    <td>MPV</td>
                    <td>01.09.2009</td>
                    <td  title="Ordered / Delivered">24 / 22</td>
                </tr>
                <tr>
                    <td>2522490</td>
                    <td>15858</td>
                    <td>Terminalen</td>
                   
                    <td>Hyundai I20 1,25 Comfort           </td>
                    <td>MPV</td>
                    <td>01.09.2009</td>
                    <td  title="Ordered / Delivered">44 / 32</td>
                </tr>
                <tr>
                    <td>2522901</td>
                    <td>15062</td>
                    <td>Ford Herning</td>
                   
                    <td>Ford Mondeo 2,0TDCI Econetic Stw.  </td>
                    <td>Stationcar</td>
                    <td>01.09.2009</td>
                    <td  title="Ordered / Delivered">54 / 52</td>
                </tr>
                <tr>
                    <td>2522903</td>
                    <td>15803</td>
                    <td>Bjarne Pape Automobiler</td>
                   
                    <td>Honda Civic 1,8 Executive 5dr      </td>
                    <td>Hatchback</td>
                    <td>01.09.2009</td>
                    <td  title="Ordered / Delivered">10 / 9</td>
                </tr>
                <tr>
                    <td>2522455</td>
                    <td>16580</td>
                    <td>Andersen &amp; Martini A/S</td>
                   
                    <td>Opel Astra Wagon 1,9D Enjoy        </td>
                    <td>Stationcar</td>
                    <td>01.07.2009</td>
                    <td  title="Ordered / Delivered">21 / 18</td>
                </tr>
                <tr>
                    <td>2522145</td>
                    <td>16050</td>
                    <td>Kia Motors A/S</td>
                   
                    <td>Kia Ceed 1,4 Active SW             </td>
                    <td>Stationcar</td>
                    <td>01.06.2009</td>
                    <td  title="Ordered / Delivered">21 / 20</td>
                </tr>
                <tr>
                    <td>2522148</td>
                    <td>16340</td>
                    <td>Per B Christensen</td>
                   
                    <td>Suzuki Alto 1,0 GLS 5dr            </td>
                    <td>Hatchback</td>
                    <td>01.05.2009</td>
                    <td  title="Ordered / Delivered">4 / 0</td>
                </tr>
                <tr>
                    <td>2522149</td>
                    <td>16583</td>
                    <td>Citro&#235;n Silkeborg</td>
                   
                    <td>Citroen C5 2,0HDI Tour.Comf.       </td>
                    <td>Stationcar</td>
                    <td>01.05.2009</td>
                    <td  title="Ordered / Delivered">6 / 5</td>
                </tr>
                <tr>
                    <td>2522328</td>
                    <td>15367</td>
                    <td>Globus Biler A/S</td>
                   
                    <td>Mitsubishi Colt 1,1 ClearTec       </td>
                    <td>Hatchback</td>
                    <td>01.05.2009</td>
                    <td  title="Ordered / Delivered">12 / 10</td>
                </tr>
                <tr>
                    <td>2522406</td>
                    <td>15708</td>
                    <td>K.W. Bruun Import</td>
                   
                    <td>Peugeot 207 1,4HDI Comf.+ 5dr      </td>
                    <td>Hatchback</td>
                    <td>01.05.2009</td>
                    <td  title="Ordered / Delivered">27 / 26</td>
                </tr>
                <tr>
                    <td>2522430</td>
                    <td>16070</td>
                    <td>Semler Fleet A/S</td>
                   
                    <td>A4 1,8TFSI (160HK)                 </td>
                    <td>Sedan</td>
                    <td>01.05.2009</td>
                    <td  title="Ordered / Delivered">40 / 39</td>
                </tr>
                <tr>
                    <td>2522374</td>
                    <td>16294</td>
                    <td>Citro&#235;n Silkeborg</td>
                   
                    <td>Citroen C3 Picasso 1,6HDI          </td>
                    <td>MPV</td>
                    <td>01.04.2009</td>
                    <td  title="Ordered / Delivered">6 / 5</td>
                </tr>
                <tr>
                    <td>2522378</td>
                    <td>15520</td>
                    <td>K.W. Bruun Import</td>
                   
                    <td>Peugeot 107 1,0 5dr.               </td>
                    <td>Hatchback</td>
                    <td>01.04.2009</td>
                    <td  title="Ordered / Delivered">14 / 12</td>
                </tr>
                <tr>
                    <td>2522231</td>
                    <td>16350</td>
                    <td>Terminalen</td>
                   
                    <td>Hyundai I30 1,6CRDI CW Comfort     </td>
                    <td>Stationcar</td>
                    <td>01.01.2009</td>
                    <td  title="Ordered / Delivered">12 / 11</td>
                </tr>
                <tr>
                    <td>2521866</td>
                    <td>15818</td>
                    <td>K.W. Bruun Import</td>
                   
                    <td>Peugeot 407 1,6HDI Sport 4dr.      </td>
                    <td>Sedan</td>
                    <td>01.04.2008</td>
                    <td  title="Ordered / Delivered">10 / 0</td>
                </tr>
                <tr>
                    <td>2521866</td>
                    <td>16448</td>
                    <td>K.W. Bruun Import</td>
                   
                    <td>Peugeot 407 1,6HDI Sport 4dr.      </td>
                    <td>Sedan</td>
                    <td>01.04.2008</td>
                    <td  title="Ordered / Delivered">10 / 0</td>
                </tr>
                <tr>
                    <td>2521867</td>
                    <td>16538</td>
                    <td>K.W. Bruun Import</td>
                   
                    <td>Peugeot 407 1,6HDI SW Sport        </td>
                    <td>Stationcar</td>
                    <td>01.04.2008</td>
                    <td  title="Ordered / Delivered">10 / 0</td>
                </tr>
                <tr>
                    <td>2521867</td>
                    <td>15450</td>
                    <td>K.W. Bruun Import</td>
                   
                    <td>Peugeot 407 1,6HDI SW Sport        </td>
                    <td>Stationcar</td>
                    <td>01.04.2008</td>
                    <td  title="Ordered / Delivered">10 / 0</td>
                </tr>
                <tr>
                    <td>3500012</td>
                    <td>15073</td>
                    <td>SMC-Biler &#197;rhus A/S</td>
                   
                    <td>A4 2,0TDI Limo                     </td>
                    <td>Sedan</td>
                    <td>01.04.2008</td>
                    <td  title="Ordered / Delivered">20 / 19</td>
                </tr>
                <tr>
                    <td>2521854</td>
                    <td>16489</td>
                    <td>Jacobil A/S</td>
                   
                    <td>Ford Mondeo 1,8TDCI Trend 5dr.125hk</td>
                    <td>Hatchback</td>
                    <td>01.03.2008</td>
                    <td  title="Ordered / Delivered">8 / 0</td>
                </tr>
                <tr>
                    <td>2521854</td>
                    <td>16496</td>
                    <td>Jacobil A/S</td>
                   
                    <td>Ford Mondeo 1,8TDCI Trend 5dr.125hk</td>
                    <td>Hatchback</td>
                    <td>01.03.2008</td>
                    <td  title="Ordered / Delivered">2 / 0</td>
                </tr>
                <tr>
                    <td>2521971</td>
                    <td>16012</td>
                    <td>Autohuset H&#248;rsholm (VAG)</td>
                   
                    <td>VW Golf 1,4TSI Variant Trendline   </td>
                    <td>Stationcar</td>
                    <td>01.03.2008</td>
                    <td  title="Ordered / Delivered">4 / 0</td>
                </tr>
                <tr>
                    <td>2521972</td>
                    <td>14867</td>
                    <td>Autohuset H&#248;rsholm (VAG)</td>
                   
                    <td>VW Golf 1,9TDI Variant Trendline   </td>
                    <td>Stationcar</td>
                    <td>01.03.2008</td>
                    <td  title="Ordered / Delivered">2 / 0</td>
                </tr>
                <tr>
                    <td>2521847</td>
                    <td>16576</td>
                    <td>Andersen &amp; Martini A/S</td>
                   
                    <td>Opel Corsa 1,3CDTI 3DR. Enjoy      </td>
                    <td>Hatchback</td>
                    <td>01.02.2008</td>
                    <td  title="Ordered / Delivered">16 / 15</td>
                </tr>
                <tr>
                    <td>2521865</td>
                    <td>16558</td>
                    <td>K.W. Bruun Import</td>
                   
                    <td>Peugeot 308 1,6HDI Comf.S. 5dr.    </td>
                    <td>Hatchback</td>
                    <td>01.02.2008</td>
                    <td  title="Ordered / Delivered">10 / 0</td>
                </tr>
                <tr>
                    <td>2521865</td>
                    <td>15505</td>
                    <td>K.W. Bruun Import</td>
                   
                    <td>Peugeot 308 1,6HDI Comf.S. 5dr.    </td>
                    <td>Hatchback</td>
                    <td>01.02.2008</td>
                    <td  title="Ordered / Delivered">10 / 0</td>
                </tr>
                <tr>
                    <td>2521870</td>
                    <td>15816</td>
                    <td>Globus Biler A/S</td>
                   
                    <td>Mits.Outlander 2,0 DiD Instyle     </td>
                    <td>Stationcar</td>
                    <td>01.01.2008</td>
                    <td  title="Ordered / Delivered">6 / 0</td>
                </tr>
                <tr>
                    <td>2521870</td>
                    <td>15711</td>
                    <td>Globus Biler A/S</td>
                   
                    <td>Mits.Outlander 2,0 DiD Instyle     </td>
                    <td>Stationcar</td>
                    <td>01.01.2008</td>
                    <td  title="Ordered / Delivered">6 / 0</td>
                </tr>
        </tbody>
</table>
        </div>


</div>



