﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    @Styles.Render("~/Bootstrap/Css") @Styles.Render("~/Fleet/Css")
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    @Scripts.Render("~/Bootstrap/Scripts")
</head>
<body>
    <div class="body">
        <!--Nav-->
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="/" title="Dasboard">AVIS</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">

                     
                          <li class="dropdown">
                            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" id="drop4">Maintenance <b class="caret"></b></a>
                            <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
                                <li class="dropdown-submenu">
                                    <a href="#">Make Types</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/Maintenance/home/ListMakeTypes" tabindex="-1">List Make Types</a></li>
                                        <li><a href="/Maintenance/home/CreateMakeType">Create Make Type</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="#">Manufacturers</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/Maintenance/home/ListManufacturers" tabindex="-1">List Manufacturers</a></li>
                                        <li><a href="/Maintenance/home/CreateManufacturer">Create Manufacturer</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href="#">Suppliers</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/Maintenance/home/ListSuppliers" tabindex="-1">List Suppliers</a></li>
                                        <li><a href="/Maintenance/home/CreateSupplier">Create New Supplier</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href='#'>Stations</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/Maintenance/home/ListStations" tabindex="-1">List Stations</a></li>
                                        <li><a href="/Maintenance/home/CreateStation">Create New Station</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a href='#'>Colors</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/Maintenance/home/ListColors" tabindex="-1">List Colors</a></li>
                                        <li><a href="/Maintenance/home/CreateColor">Create New Color</a></li>
                                    </ul>
                                </li>

                                <li class="dropdown-submenu">
                                    <a href='#'>Business</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/Maintenance/home/ListBusiness" tabindex="-1">List Businesses</a></li>
                                        <li><a href="/Maintenance/home/CreateBusiness">Create New Business</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </li>




                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Requisition<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/Requisition/home/List">List</a></li>
                                    <li><a href="/Requisition/home/Create">Create</a></li>
                                    <li><a href="/Requisition/home/Installation">Installation</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Inventory<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/Requisition/home/List">Edit/search</a></li>
                                </ul>
                            </li>
                            <li><a href="/dashboard/home/settings">Settings</a>
                            <li><a href="/order/home/index">Order</a>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <!--//Nav-->
        <div class="container">
            <div class="row">
                @RenderBody()
            </div>
            <footer>
                <p>&copy; Avis RAC Norway AS @DateTime.Now.Year</p>
            </footer>
        </div>
    </div>
</body>
</html>
